body {
    background-color: rgb(243, 252, 255);
    font-family:monospace
}

.header {
    background-color: rgb(0, 24, 84);
    padding: 10px;
    text-align: center;
    color: white;
}

.nav {
    background-color: white;
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.article-list {
    list-style: none;
}

.article-card {
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: 33% 33% 33%;
    grid-area: 
    "img title title"
    "img topic topic"
    "img author author";
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 30px;
    margin: 1rem;
    background-color: rgb(198, 221, 255);
}

img {
    grid-area: "img";
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    height: 80%;
    width: 90%;
    margin-right: 10px;
}

