body {
    background-color: rgb(243, 252, 255);
    font-family:monospace
}

.header {
    background-color: rgb(0, 24, 84);
    padding: 10px;
    text-align: center;
    color: white;
}

.nav {
    background-color: white;
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}

.article-list {
    list-style: none;
}

.article-card {
    display: grid;
    grid-template-columns: 30% 60%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-area: 
    "img title title"
    "img topic topic"
    "img author author"
    "img button button";
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 30px;
    margin: 1rem;
    background-color: rgb(198, 221, 255);
}

img {
    grid-area: "img";
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    max-width: 100%;
    height: auto;
    border-radius: 10px
}

.button {
    grid-area: "button";
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    width: 150px;
    background-color: rgb(0, 0, 74);
    color: white;
    font-family: monospace;
    margin-left:2rem;
}

.title {
    margin-left: 2rem;
}

.topic {
    margin-left: 2rem;
}

.author {
    margin-left: 2rem;
}

.single-article {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 20% 5% 70% 5%;
    grid-area: 
    "single-title single-title"
    "single-img single-topic"
    "single-img single-body"
    "single-img single-author";
    border: 1px solid black;
    padding: 20px;
    margin: 2rem;
    border-radius: 20px;
}

.single-title {
    grid-area: "single-title";
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    text-align: center;
    padding: 2rem;
    margin: 1rem;
    background-color: rgb(0, 24, 84);
    color: white;
    border-radius: 20px;
    font-size:x-large;
}

.single-img {
    grid-area: "single-img";
    grid-row: 2 / 5;
    grid-column: 1 / 2;
    width: 100%;
    height: auto;
    margin: 1rem;
}

.single-topic {
    padding: 1rem;
    margin-left: 1rem;
}

.single-body {
    padding: 1rem;
    margin-left: 1rem;
}

.single-author {
    padding: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    text-align: right;
}

.comment-list {
    list-style: none;
}

.comment-card {
    display: grid;
    grid-template-rows: 65% 15% 20%;
    grid-area: 
    "comment-body"
    "comment-author"
    "comment-votes";
    border: 1px solid black;
    padding: 20px;
    margin: 2rem;
    border-radius: 20px;
    width: auto;;
    background-color: rgb(198, 221, 255);
}

.comment-body {
    grid-area: "comment-body";
    grid-row: 1 / 2
}

.comment-author {
    grid-area: "comment-author";
    grid-row: 2 / 3
}

.comment-votes {
    grid-area: "comment-votes";
    grid-row: 3 / 4
}

.comment-header {
    text-align: center;
}

.no-comments-header {
    text-align: center;
}

.like-button {
    background-color: rgb(210, 255, 210);
    border: 1px solid black;
    border-radius: 10px;
    margin: 0.7rem;
}

.dislike-button {
    background-color: rgb(255, 178, 178);
    border: 1px solid black;
    border-radius: 10px;
    width: 21px;
}

.voter {
    position: relative;
    top: -30px
}

#add-comment {
    background-color: white;
    text-align: center;
    padding: 1rem;
    font-size: larger;
}

#submit-comment {
    background-color: rgb(0, 24, 84);
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 10px;
}